{% extends "header.html" %}

{% block body %}
<h1> Orders Placed </h1>

<div id = "alert_placeholder"></div>

<table id="example" class = "table table-striped">

   <thead>

      <tr>
               <th>Ordered Time</th>

         <th>Order Id</th>
         <th>Item Name</th>
         <th> Item Cost </th>
                 <th> Website Shipping Cost  </th>
         <th> Total Cost </th>
<th> Customer </th>
         <th> Order Action </th>


      </tr>
   </thead>

   <tbody>



{% for x in orders %}
<tr id=  {{ "order_num_" + x.linq_order_num|string}}>


 <td> {{ x.order_date_time }} </td>
 <td> {{ x.order_id }} </td>
 <td> {{ x.item_name }} </td>
 <td> {{ x.item_cost }} </td>
 <td> {{ x.website_shipping_cost }} </td>

<td>  {{x.item_cost + x.website_shipping_cost + x.linq_shipping_cost }}  </td>
<td> {{ x.name ,x.mobile_num }} </td>




<td id="order-action">

{% if  x.order_status_id ==  1 or x.order_status_id ==  2 or x.order_status_id ==  3 %}

        <a role="presentation" data-toggle="modal" data-target={{"#exampleModal2_"+  x.linq_order_num|string}} href="#"><span class="glyphicon glyphicon-ok"></span> Create Return   </a>
                        <div class="modal fade" id={{"exampleModal2_"+ x.linq_order_num|string}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                          <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel2">Create Return</h4>
                                  </div>
                                  <div class="modal-body">
                                          <div class="container-fluid">
                                                  <form action="javascript:void(0);" class="form-inline"  id="deliver-order-form">
                                                        By Confirming oyu create a return for the item   <b> {{ x.item_name }} </b> of the order 
</br>
Order Id  <b> {{ x.order_id }}   </b>
</br>
<div class="form-group"var x = document.getElementById("myForm").elements.length;
>
  <label for="sel1">Return Reason</label>
  <select class="form-control selectpicker" id="sel1">
    <option>Item Defective</option>
    <option>Did not like the item</option>
    <option>Size issue</option>
    <option>Other</option>
  </select>
</div>
</br>
</br>
                                                        <input class="btn btn-primary center-block" onclick="executer({{x.linq_order_num}})" type="submit" id= 'receive-btn' value="Create Return" >
                                                  </form>

                                        </div>
                                  </div>

                                </div>
                          </div>
                        </div>
{% elif x.order_status_id ==  4 %}

 <a role="presentation" id="returnelem" data-toggle="modal" data-target="#exampleModal3" ><span class="glyphicon glyphicon-ok-sign"></span>  Return Initiated  </a>



{% else %}

 <a role="presentation" data-toggle="modal" data-target="#exampleModal3" ><span class="glyphicon glyphicon-ok-sign"></span>  Order Delivered  </a>

{% endif %}
</td>
</tr>

{% endfor %}
   </tbody>

</table>


{% endblock %}


{% block javascript %}

<script type="text/javascript">

$(document).ready(function() {
    $('#example').DataTable();
} );

function executer(linq_order_num) {
 var xy = '<a role="presentation" id="returnelem" data-toggle="modal" data-target="#exampleModal3" ><span class="glyphicon glyphicon-ok-sign"></span>  Return Initiated  </a>'


console.log("Chimpiri");
var result = "";
var x = document.getElementById("deliver-order-form").elements["sel1"].value;
var links = document.getElementById("order_num_"+ String(linq_order_num));
var modalId = "exampleModal2_" + String(linq_order_num);
jQuery.ajax ({
    url: "/add-return/",
    type: "POST",
    data: JSON.stringify({"linq_order_num":linq_order_num  , "return_reason": x }),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(data){
        console.log("Sucessssss");
        console.log(data);
$("#" + modalId).modal('hide');

$('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><span>Successfully initiated the return</span></div>');
links.cells[7].innerHTML = xy ;
    }
});
return result;
}



</script>

{% endblock %}

