{% extends "header.html" %}

{% block body %}
<h1> Orders Placed </h1>
<div id = "alert_placeholder"></div>

<table id="example" class = "table table-striped">

   <thead>

      <tr>
               <th>Ordered Time</th>

         <th>Order Id</th>
         <th>Item Name</th>
         <th> Item Cost </th>
                 <th> Website Shipping Cost  </th>
         <th> Total Cost </th>
<th> Customer </th>
         <th> Return Order Action </th>


      </tr>
   </thead>

   <tbody>



{% for x in returns %}
<tr  id = {{"order_num_" + x.id|string}} >

 <td> {{ x.order_date_time }} </td>
 <td> {{ x.order_id }} </td>
 <td> {{ x.item_name }} </td>
 <td> {{ x.item_cost }} </td>
 <td> {{ x.website_shipping_cost }} </td>

<td>  {{x.item_cost + x.website_shipping_cost + x.linq_shipping_cost }}  </td>
<td> {{ x.name ,x.mobile_num }} </td>

<td id={{"order_action_" + x.id|string }}>

<div id = {{"dispatch_return_" + x.id|string }}>
        <a role="presentation" data-toggle="modal" data-target={{"#exampleModal1_"+ x.id|string }} href="#"><span class="glyphicon glyphicon-ok"></span> Dispatch Return   </a>
                        <div class="modal fade" id={{"exampleModal1_" + x.id|string }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                          <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel1">Dispatch Return</h4>
                                  </div>
                                  <div class="modal-body">
                                          <div class="container-fluid">
                                                  <form action="javascript:void(0);"  class="form-inline"  id={{"receive-order-form_"+ x.id|string }}>
                                                        You returned the item  <b> {{ x.item_name }} </b>
</br>
Please enter the courier tracking details.
</br>
  <input type="text" name="Courier Tracking" id="courier_details">

                                                        <input class="btn btn-primary center-block" onclick="execute({{x.id}} )" type="submit" id= 'receive-btn' value="Dispatch" >
                                                  </form>

                                        </div>
                                  </div>

                                </div>
                          </div>
                        </div>

</div>

<div id = {{"return_destination_" + x.id|string }}>


        <a role="presentation" id="return-reached" data-toggle="modal" data-target={{"#exampleModal2_"+ x.id|string }} href="#"><span class="glyphicon glyphicon-ok"></span> Return Reached the Destination   </a>
                        <div class="modal fade" id={{"exampleModal2_"+ x.id|string }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                          <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel2"> Return Reached the Destination </h4>
                                  </div>
                                  <div class="modal-body">
                                          <div class="container-fluid">
                                                  <form action="javascript:void(0);"  class="form-inline"  id="deliver-order-form2">
                                                       {{x.item_name }} reached the Destination  
</br>
Order Id  <b> {{ x.order_id }}   </b>
</br>
                                                        <input class="btn btn-primary center-block" onclick="execute2({{x.id}})" type="submit" id= 'receive-btn' value="Return reached Destination" >
                                                  </form>

                                        </div>
                                  </div>

                                </div>
                          </div>
                        </div>
</div>
<div id = {{"receive_refund_" + x.id|string }}>

        <a role="presentation" id="receive-refund" data-toggle="modal" data-target={{"#exampleModal3_"+ + x.id|string }} href="#"><span class="glyphicon glyphicon-ok"></span> Yet to receive refund  </a>
                        <div class="modal fade" id={{"exampleModal3_"+ x.id|string }} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
                          <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel3"> Refund Received Confirmation  </h4>
                                  </div>
                                  <div class="modal-body">
                                          <div class="container-fluid">
                                                  <form action="javascript:void(0);"  class="form-inline"  id="deliver-order-form3">
                                                       Refund Received for {{x.item_name }} 
</br>
Order Id  <b> {{ x.order_id }}   </b>
</br>
                                                        <input class="btn btn-primary center-block" onclick="execute3({{x.id}})" type="submit" id= 'receive-btn' value="Refund Received " >
                                                  </form>

                                        </div>
                                  </div>

                                </div>
                          </div>
                        </div>
</div>

<div id = {{"return_complete_" + x.id|string }}>

 <a id={{"refund-received_" + x.id|string }} role="presentation" data-toggle="modal" data-target="#" ><span class="glyphicon glyphicon-ok-sign"></span>  ReturnComplete - Refund Received Sucessfully  </a>

</div>

</td>
</tr>

{% endfor %}
   </tbody>

</table>


{% endblock %}


{% block javascript %}

<script type="text/javascript">
console.log("ahah");
$(document).ready(function() {
    $('#example').DataTable();
} );

{% for return1 in returns %} 
var row = document.getElementById("order_num_" + "{{return1.id}}");
var p = document.getElementById("dispatch_return_" + "{{return1.id}}");
var q = document.getElementById("return_destination_" + "{{return1.id}}");
var r = document.getElementById("receive_refund_" + "{{return1.id}}");
var s = document.getElementById("return_complete_" + "{{return1.id}}");
console.log(row);
console.log(p.outerHTML);
if ("{{return1.order_status_id}}" == 4 && "{{return1.return_status_id}}" == 1) {
q.style.display = "none"; 
r.style.display = "none"; 
s.style.display = "none";
}

if ("{{return1.order_status_id}}" == 4 && "{{return1.return_status_id}}" == 2) {


p.style.display = "none"; 

r.style.display = "none"; 
s.style.display = "none"; 


}

if ("{{return1.order_status_id}}" == 4 && "{{return1.return_status_id}}" == 3) {

p.style.display = "none"; 
q.style.display = "none"; 

s.style.display = "none"; 

}

if ("{{return1.order_status_id}}" == 4 && "{{return1.return_status_id}}" == 4) {

p.style.display = "none"; 
q.style.display = "none"; 
r.style.display = "none"; 

}


{% endfor %}

function execute(return_id) {
console.log("Chimpirijbfjdb");
var result = "";
var row = document.getElementById("order_num_" + String(return_id));
var modalId= "exampleModal1_"+ String(return_id);
var courier_details = document.getElementById("receive-order-form_"+ String(return_id)).elements["courier_details"].value;
var receve_refund = document.getElementById("receive_refund_" + String(return_id) )
var return_complete = document.getElementById("return_complete_" + String(return_id) );

console.log(courier_details)
console.log(receve_refund)
jQuery.ajax ({
    url: "/dispatch-return/",
    type: "POST",
    data: JSON.stringify({"return_id":return_id,"courier_details": courier_details}),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(data){
        console.log(data);
$("#" + modalId).modal('hide');

$('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><span>Successfully dispatched the return</span></div>');
var htmlElement =  document.getElementById("return_destination_"+ String(return_id));
var cln = htmlElement.cloneNode(true);
cln.style.display = null;
row.cells[7].innerHTML = cln.outerHTML;
row.cells[7].appendChild(receve_refund);
row.cells[7].appendChild(return_complete);

    }
});
return result;
}

function execute2(return_id) {
console.log("Chimpiri");
console.log(return_id);
var result = "";

var row = document.getElementById("order_num_" + String(return_id));
var modalId= "exampleModal2_"+ String(return_id);
var return_complete = document.getElementById("return_complete_" + String(return_id) );
jQuery.ajax ({
    url: "/return-destination/",
    type: "POST",
    data: JSON.stringify({"return_id":return_id}),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(data){
       console.log(data);
$("#" + modalId).modal('hide');

 $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><span>Successfully return reached the destination</span></div>');
var htmlElement =  document.getElementById("receive_refund_"+ String(return_id));
var cln = htmlElement.cloneNode(true);
cln.style.display = null;
row.cells[7].innerHTML = cln.outerHTML;
row.cells[7].appendChild(return_complete);
        
    }
});
return result;

}

function execute3(return_id) {
console.log("kaleyam");
console.log("Chimpiri");
var result = "";
var modalId= "exampleModal3_"+ String(return_id);
var row = document.getElementById("order_num_" + String(return_id));
jQuery.ajax ({
    url: "/refund-received/",
    type: "POST",
    data: JSON.stringify({"return_id":return_id}),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(data){
        console.log(data);
$("#"+ modalId).modal('hide');
 $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><span>Successfully received the refund</span></div>');
row.cells[7].innerHTML=  document.getElementById('return_complete_' + String(return_id) ).innerHTML;


    }
});
return result;

}


</script>

{% endblock %}

