{% extends "header.html" %}


{% block body %}
<div id = "alert_placeholder"></div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Send Message</a></li>
  <li role="presentation"><a href="#">Send Message to Entire Group</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</br>
</br>
    <form id="send-sms-form" action="javascript:void(0);"    class="form-inline" role="form">
        <label for="formGroupExampleInput">{{form.mobile_number.label}}</label>

            <input class="form-control" id="mobile_number" name="mobile_number" placeholder= "Mobile Number" type="text">
             {% if form.errors["mobile_number"] %}
                 <ul class="errors">
     {% for error in form.errors["mobile_number"] %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
           {% endif %}
</br>

        <label for="formGroupExampleInput">{{form.message.label}}</label>
        <div class="form-group">
            <input class="form-control" id="message" name="message" placeholder= "Message" type="text">
             {% if form.errors["message"] %}
                 <ul class="errors">
     {% for error in form.errors["message"] %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
           {% endif %}


        </div>
         </br>
        </br>
<input type="submit" class="btn btn-info"  onclick="return execute2sms()" value="Submit">

</form>

{% endblock %}


{% block javascript %}

<script>
function execute2sms() {
console.log("Chimpiri");
var number = document.getElementById("send-sms-form").elements['mobile_number'].value;
var messag = document.getElementById("send-sms-form").elements['message'].value;
console.log(number);
console.log(messag);
jQuery.ajax ({
    url: "/send-sms-single/",
    type: "POST",
    data: JSON.stringify({"mobile_number":number , "message": messag}),
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    success: function(data){
        console.log(data);
       console.log("haha after delovering");
 $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><span>Successfully recorded the message!Your message will be delivered shortly</span></div>');
    }
});
}
</script>


{% endblock %}
